#
###################################################################################################
#                _   _   _  _______ ______  _____
#     /\        | | | | | ||__   __|  ___ |/ ____|   /\   |  __ \| |  | |  \ \ / /
#    /  \       | | | | | |   | |  | |__  | (___    /  \  | |__) | |__| |   \ V /
#   / /\ \  _   | | | | | |   | |  |  __|  \___ \  / /\ \ |  ___/|  __  |    > <
#  / ____ \| |__| |_| |_| |   | |  | |____ ____) |/ ____ \| |    | |  | |   / . \
# /_/    \_\\____/ \___/|_|   |_|  |______|_____//_/    \_\_|    |_|  |_|  /_/ \_\
#
#   Auto Announcer Module
#
###################################################################################################

[worldserver]

###################################################################################################
#
#    자동 공지 - 모듈 활성화 및 간격 설정
#        Description: 자동으로 서버에 공지를 띄우는 모듈의 활성화 및 공지 간격 설정입니다.
#        Author:      Kazamok, AzerothCore Community
#
###################################################################################################

#
#    AutoAnnouncer.Enable
#        Description: 자동 공지 모듈의 활성화 여부를 설정합니다.
#        Default:     1 - (활성화)
#                     0 - (비활성화)
#
AutoAnnouncer.Enable = 1

#
#    AutoAnnouncer.IntervalSeconds
#        Description: 공지 사이의 간격을 초 단위로 설정합니다.
#        Default:     120(2분)
#
AutoAnnouncer.IntervalSeconds = 180

###################################################################################################
#
#    자동 공지 - 메시지 목록 설정
#        Description: 공지할 메시지 목록을 세미콜론(;)으로 구분하여 입력합니다.
#        Author:      Kazamok, AzerothCore Community
#
###################################################################################################

#
#    AutoAnnouncer.Messages
#        Description: |cffXXXXXX|r 형식을 사용하여 메시지에 색상을 적용할 수 있습니다.
#        Example:     |cff00ff00|r환영합니다!|r
#
AutoAnnouncer.Messages = |cffFFFFFF[시스템] 환영합니다! 즐거운 시간 되십시요.|r;|cffFFFFFF[시스템] 불법 프로그램 사용은 제재 대상입니다.|r;|cffFFFFFF[시스템] 서로 존중하는 언어를 사용합시다.|r;|cffFFFFFF[시스템] 계정 정보는 아무에게도 알려주지 마세요.|r;|cffFFFFFF[시스템] 일정 시간마다 월드 전역에 버프가 발동됩니다.|r;|cffFFFFFF[시스템] 홍보 보상은 일주일에 한 번 우편으로 받을 수 있습니다.|r;|cffFFFFFF[시스템] 하루에 한 번 골드 보상을 받습니다.|r

